

.red {
    color: red;
}
@font-face {
    font-family: 'Font1';
    src: url("../font/DidactGothic-Regular.ttf");
}


html body {
    font-family: 'Font1', 'Arial', 'sans-serif';
    width: auto;
    margin: auto;
    text-align: center;
    width: 95%;
    border: solid;
    border-radius: 12px 12px 12px 12px;
    border-color: rgb(31, 30, 30);
    box-shadow: 10px 20px 20px rgba(0,0,0,0.5);
}

header {
    background-color: rgb(31, 30, 30);
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 70px;
    margin: auto;
}

.title {
    float: left;
    margin-left: 25px;
}

.title img {
    padding-top: 10px;
}

.title a {
    color: white;
    text-decoration: none;
    font-size: 50px;
}

.main, .submain {
    color: white;
    text-decoration: none;
    padding: 25px 20px 24px 20px;
}

.main:hover {
    background-color: rgba(255, 0, 0, 0.466);
}


nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position: relative;
  }
  
  
  nav li {
    display: block;
    float: left;
    text-align: center;
  }
  
  
  nav li > ul {
    display: none;
    position: absolute;
  }
  
  
  nav li li {
    background-color: rgb(31, 30, 30);
    width: 70%;
  }
  
  
  nav li:hover > ul {
    display: block; 
    
  }
  
  
  nav {
    float: right;
    margin-right: 15px;
  }
  li a:hover {
    background-color: rgba(255, 0, 0, 0.466);
    
  }
  li a {
    display: block;
    padding: 0px 15px;
    height: 20px;
    line-height: 20px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bolder ;
    text-decoration: none;
  }

.Nom{
    font-size: 30px;
}

.photoCV{
    height: auto;
    width: 300px;
    padding-top: 100px;
    
}
.profil{
    display :flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


p{
    padding: 1px 20px 20px 20px;
    text-align: left;
    font-size: 22px;
}
h2{
    font-size: 50px;
    text-decoration: underline;
}

.ligne{
    border-width:0px 5px 0px 0px;
    border-style:solid ;
    border-color:black;
    padding:0 10px;
}
 video{
    height: auto;
    width: 300px;
}
form {
    margin: 0 auto;
    width: 400px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 10px;
  }

h1{
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-right: 100%;
      
    }
  
    to {
      margin-right: 0%;
      
    }
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

textarea {
    vertical-align: top;
    height: 5em;
}

footer {
    color: white;
    background-color: rgb(31, 30, 30);
    border-radius: 0px 0px 8px 8px;
    height: 40px;
    margin: auto;
    padding-top: 20px;
}